/* nav related style  */
body{
     font-family: "Open Sans", sans-serif;
}
nav{
    display: flex;
      justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.text-primary{
 color: #FD6E0A;
}

.nav-title{
    font-weight: 600;
    font-size: 45px;
   
}

nav > ul{
    display: flex;
    align-items: center;
  
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

.btn-primary{
 
    background-color: #FD6E0A;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 15px 35px;
    border: 0;
    font-weight: 700px;

}

.header{
   
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-content{
    max-width: 500px;
}
.profile-picture{
    width: 500px;

}

.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin: 0px;

}

.banner-title{
    font-size: 65px;
    font-weight: 700px;
    margin-top: 5px;
}
 

main{
    max-width: 1140px;
    margin: 0px auto;
}

.about{
    margin: 130px 0px;
    padding: 130px;
    border-radius: 14px;
    background-color: #FFF8F3;
}

.section-title{
    color: #181818;
    font-size: 35px;
    text-align: center; 
    font-weight: 700;
 
     
}

.section-description{
    font-size: 18px;
    text-align: center;
       color: #474747;

}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}